.search_recipe{
    font-family: "Libre Franklin", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 70px;
}

.fa-search{
    color: #c6d2ed;
}

.fa-search:focus{
    color: #c6d2ed;
}
.btn {
    background-color: #c6d2ed;
    font-size: 16px;
    margin: 5px;
    width: 25em;
}

.btn:hover {
    background-color: #c6d2ed;
}
