/* Nav Bar */
.nav-colour {
    background-color: #c6d2ed;
}


/* Footer */
.page-footer {
    background-color: #c6d2ed;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      