/* Nav Bar */
.nav-colour {
  background-color: #c6d2ed;
}

/* Logo */
.img-responsive {
  height: auto;
  width: auto;
  max-height: 60px;
  max-width: 250px;
  padding-top: 5px;
  padding-left: 10px;
}

/* Nav Text */
.home {
  font-size: 18px;
}

.upload {
  font-size: 18px;
}

.fa-search:focus {
  font-size: 20px;
}

/* Side Nav */
.sidenav {
  background-color: #c6d2ed;
  font-family: "Libre Franklin", sans-serif;
  color: white;
}

#home {
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  color: white;
}

#upload {
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
  color: white;
}

#search {
  font-size: 18px;
  color: white;
}

/* Flash Message */

.flash-message {
  font-family: "Libre Franklin", sans-serif;
  color: #c6d2ed;
}

/* Footer */
.page-footer {
  background-color: #c6d2ed;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
}

.footer-copyright {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.social-icons {
  float: right;
  font-size: 20px;
  margin-right: 2px;
}

.fa-facebook {
  color: white;
}

.fa-instagram-square {
  color: white;
}

.fa-pinterest {
  color: white;
}
