/* View More */

#background {
  background-color: #dcdcdc;
  margin-top: 20px;
  margin-bottom: 20px;
}

#recipe_img {
  padding-left: 30px;
  padding-right: 30px;
}

.recipe_name {
  color: white;
  font-family: "Libre Franklin", sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/* Prep time/ Baking time/ Serves */
.grid {
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

#preptime-vm {
  font-size: 2em;
}

#bakingtime-vm {
  font-size: 2em;
}

#serves-vm {
  font-size: 2em;
}

/* Ingredients */
#more-ingredients {
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Method */
#more-method {
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  text-align: center;
}

.btns-vm {
  margin-bottom: 20px;
  padding-left: 30px;
}

#update-btn {
  font-family: "Libre Franklin", sans-serif;
  background-color: #c6d2ed;
  color: white;
  border: white solid 1px;
  font-size: 20px;
  width: 6em;
}

#delete-btn {
  font-family: "Libre Franklin", sans-serif;
  background-color: #c6d2ed;
  color: white;
  border: white solid 1px;
  font-size: 20px;
  width: 6em;
  float: right;
  margin-right: 30px;
}
