{% extends "base.html" %} {% block content %}
<div class="hero-block">
  <img
    class="hero-image"
    src="static/images/add_recipe_img.png"
    alt="hero-image"
  />
</div>
<br />
<br />


<!-- Upload Recipes -->
<h3 id="add_recipe_title">Upload A Recipe</h3>
<div class="row-card-panel grey lighten-5 container">
  <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">
    <div class="row">
      
      <!-- Author Name -->
      <div class="input-field col s12">
        <input
          id="author"
          name="author"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-user" for="author">      Author</label>
      </div>
      <!-- Recipe Name -->
      <div class="input-field col s12">
        <input
          id="recipe_name"
          name="recipe_name"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-cookie-bite" for="recipe_name">      Recipe Name</label>
      </div>
    </div>
    <!-- Upload Image -->
   
    <!-- Description -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="description"
          name="description"
          minlength="10"
          maxlength="100"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-plus-circle" for="description">      Description</label>
      </div>
    </div>
    <!-- Preptime -->
    <div class="row">
      <div class="input-field col s12">
        <input id="preptime" name="preptime" type="text" required />
        <label class="fas fa-clock" for="prep-time">      Prep Time</label>
      </div>
    </div>
    <!-- Baking Time -->
    <div class="row">
      <div class="input-field col s12">
        <input id="bakingtime" name="bakingtime" type="text" required />
        <label class="fas fa-hourglass-end" for="bakingtime">      Baking Time</label>
      </div>
    </div>
    <!-- Serves -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="serves"
          name="serves"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-utensils" for="serves">      Serves</label>
      </div>
    </div>
    <!-- Ingredients -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="ingredients"
          name="ingredients"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-mortar-pestle" for="ingredients"
          >      Ingredients</label
        >
      </div>
    </div>
    <!-- Method -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="method"
          name="method"
          type="text"
          class="validate"
          required
        /> 
        <label class="fas fa-arrow-circle-down" for="method">      Method</label>
      </div>
    </div>
    <!-- Submit Button -->
    <button class="button" type="submit">
      Upload Recipe
      <i class="material-icons left"></i>
    </button>
   
  </form>
</div>

{% endblock %}