{% extends "base.html" %} {% block content %} {% block styles %}
<!-- Index CSS-->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/add_recipe.css') }}"
  type="text/css"
/>
{% endblock %}

<div class="hero-block">
  <img
    class="hero-image"
    src="static/images/add_recipe_img.png"
    alt="hero-image"
  />
</div>
<br />
<br />

<!-- Upload Recipes -->
<h3 id="add_recipe_title">Upload A Recipe</h3>
<div class="row-card-panel container">
  <form class="col s12" method="POST" action="{{ url_for('add_recipes') }}">
    <div class="row">
      <!-- Author Name -->
      <div class="input-field col s12">
        <input
          id="author"
          name="author"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-user" for="author" id="name">
          &nbsp;&nbsp;<span>Author</span></label
        >
      </div>
      <!-- Recipe Name -->
      <div class="input-field col s12">
        <input
          id="recipe_name"
          name="recipe_name"
          minlength="3"
          maxlength="20"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-cookie-bite" for="recipe_name"
          >&nbsp;&nbsp;<span>Recipe Name</span></label
        >
      </div>
      <!-- Upload Image -->
      <div class="input-field col s12">
        <input
          id="image_url"
          name="image_url"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-images" for="image_url"
          >&nbsp;&nbsp;<span>Upload an Image Url</span></label
        >
        <img src="{{ image_url }}" />
      </div>
      <!-- Description -->
      <div class="input-field col s12">
        <input
          id="description"
          name="description"
          minlength="10"
          maxlength="300"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-plus-circle" for="description"
          >&nbsp;&nbsp;<span>Description</span></label
        >
      </div>
      <!-- Prep Time -->
      <div class="input-field col s12">
        <input
          id="preptime"
          name="preptime"
          minlength="3"
          maxlength="8"
          type="text"
          required
        />
        <label class="fas fa-clock" for="prep-time"
          >&nbsp;&nbsp;<span>Prep Time</span></label
        >
      </div>
      <!-- Baking Time -->
      <div class="input-field col s12">
        <input
          id="bakingtime"
          name="bakingtime"
          minlength="3"
          maxlength="8"
          type="text"
          required
        />
        <label class="fas fa-hourglass-end" for="bakingtime"
          >&nbsp;&nbsp;<span>Baking Time</span></label
        >
      </div>
      <!-- Serves -->
      <div class="input-field col s12">
        <input
          id="serves"
          name="serves"
          minlength="1"
          maxlength="5"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-utensils" for="serves"
          >&nbsp;&nbsp;<span>Serves</span></label
        >
      </div>
      <!-- Ingredients -->
      <div class="input-field col s12">
        <label class="fas fa-mortar-pestle" for="ingredients"
          >&nbsp;&nbsp;<span>Ingredients</span></label
        >
        <br />
        <br />
        <textarea
          id="ingredients"
          name="ingredients"
          minlength="10"
          maxlength="500"
          type="text"
          class="validate"
          placeholder="Enter each ingredient on a new line"
          required
        ></textarea>
      </div>
      <!-- Method -->
      <div class="input-field col s12">
        <label class="fas fa-arrow-circle-down" for="method"
          >&nbsp;&nbsp;<span>Method</span></label
        >
        <br />
        <br />
        <textarea
          id="method"
          name="method"
          minlength="10"
          maxlength="500"
          type="text"
          class="validate"
          placeholder="Enter each method on a new line"
          required
        ></textarea>
      </div>
      <!-- Submit -->
      <button class="button" type="submit">
        Upload Recipe
        <i class="material-icons left"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
