{% extends "base.html" %} {% block content %}

{% block styles %}
<!-- Index CSS-->
     <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/update_recipe.css') }}"
      type="text/css"
    />
{% endblock %}



<!-- Update Recipes -->
<h3 id="add_recipe_title">Update Recipe</h3>
<div class="row-card-panel container">
  <form class="col s12" method="POST" action="{{ url_for('update_recipe', recipe_id=recipe._id) }}">
    <div class="row">
      <!-- Author Name -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.author }}"
          id="author"
          name="author"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-user" for="author">&nbsp;&nbsp;<span>Author</span></label>
      </div>
      <!-- Recipe Name -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.recipe_name }}"
          id="recipe_name"
          name="recipe_name"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-cookie-bite" for="recipe_name"
          >&nbsp;&nbsp;<span>Recipe Name</span></label
        >
      </div>
      <!-- Upload Image -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.image_url }}"
          id="image_url"
          name="image_url"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-images" for="image_url"
          >&nbsp;&nbsp;<span>Upload an Image Url</span></label
        >
        <img src="{{ image_url }}" />
      </div>
      <!-- Description -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.description }}"
          id="description"
          name="description"
          minlength="10"
          maxlength="100"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-plus-circle" for="description"
          >&nbsp;&nbsp;<span>Description</span></label
        >
      </div>
      <!-- Preptime -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.preptime }}"
          id="preptime"
          name="preptime"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-clock" for="prep-time"
          >&nbsp;&nbsp;<span>Prep Time</span></label
        >
      </div>
      <!-- Baking Time -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.bakingtime }}"
          id="bakingtime"
          name="bakingtime"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-hourglass-end" for="bakingtime"
          >&nbsp;&nbsp;<span>Baking Time</span></label
        >
      </div>
      <!-- Serves -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.serves }}"
          id="serves"
          name="serves"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-utensils" for="serves">&nbsp;&nbsp;<span>Serves</span></label>
      </div>
      <!-- Ingredients -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.ingredients }}"
          id="ingredients"
          name="ingredients"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-mortar-pestle" for="ingredients"
          >&nbsp;&nbsp;<span>Ingredients</span></label
        >
      </div>
      <!-- Method -->
      <div class="input-field col s12">
        <input
          value="{{ recipe.method }}"
          id="method"
          name="method"
          type="text"
          class="validate"
          required
        />
        <label class="fas fa-arrow-circle-down" for="method"
          >&nbsp;&nbsp;<span>Method</span></label
        >
      </div>
      <!-- Submit Button -->
      <button class="button-left" type="submit">
        Update 
      </button>
      <!-- Cancel Button -->
      <div class="button-right">
      <a href="{{ url_for('index') }}">
      Cancel
      </a>
        </div>
    </div>
  </form>
</div>

{% endblock %}
