{% extends "base.html" %} {% block content %}

<div class="container" id="background">
  <!-- Recipe Name -->
  <h2>{{ add_recipes.recipe_name }}</h2>
  <!-- Image -->
  <div class="view_more_img">
    <img src="{{ add_recipes.image_url }}" />
  </div>
  <!-- Preptime -->

  <!-- Baking Time -->

  <!-- Serves -->

  <!-- Share -->

  <!-- Ingredients -->

  <!-- Method -->
  
</div>

{% for add_recipes in add_recipes %} 

{{ add_recipes.recipe_name }} 
{{ add_recipes.author }} 
{{ add_recipes.image_url }} 
{{ add_recipes.description }}
{{ add_recipes.preptime }} 
{{ add_recipes.bakingtime }} 
{{ add_recipes.serves }}
{{ add_recipes.ingredients }} 
{{ add_recipes.method }} 

{% endfor %} 
{% endblock
%}
